:root {
	/* Message colors */
	--color-error: #e13e39;
	--color-warning: #f5c817;
	--color-success: #4b6fdd;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-light-1: #f3f4f7;
	--color-light-2: #e7e9ef;
	--color-middle: #e0e0e0;
	--color-dark-1: #abadb1;
	--color-dark-2: #424242;

	font-size: 16px;

	--radius-10: 10px;
	--radius-5: 5px;
}
